.mark {
  background: yellow;
  /* font-weight: bold;
  padding: 0 2px; */
}
.highlight-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}


.table-details-container {
  display: flex;
  gap: 1rem;
}

.table-section {
  flex: 3;
  /* width: 100%; */
}

.details-pane {
  flex: 1;
  border: 1px solid #ddd;
  padding: 1rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  border: none;
  background: transparent;
  font-size: 1.2rem;
  cursor: pointer;
}

